<div class="user-messages">
  <div class="user-messages-container">
    <span class="font-semibold"><%= t("decidim.account.under_18.panel").html_safe %></span>
  </div>
</div>

<!--
<div id="admin-bar" class="layout-item-alert">
  <div class="admin-bar">
    <span class="font-semibold"><%= t("decidim.account.under_18.panel").html_safe %></span>
  </div>
</div>

-->